// Ambience
@import 'ambience/fonts';
@import 'ambience/variables';
@import 'ambience/typography';

// Components
@import 'components/pokemon-loading';

.container-app {
  padding-top: 60px;
    padding-left: 0;
}
.search-box {
      border-radius: 0;
  padding-left: 0;
  .input-group {

    height: 60px;
    #search-input,
    .button-search--pokemon {
          border-radius: 0;
      height: 60px;
    }
  }
}
.search-box--pokemon-list {
    border-radius: 0;
    overflow-y: auto;
    max-height: 700px;
    .list-group-item {
        border-radius: 0;
        padding: 16px;
      &.active {
        border-radius: 0;
        padding: 16px;
      }
    }
}

