@import "bootstrap";

// Ambience
@import 'ambience/fonts';
@import 'ambience/variables';
@import 'ambience/typography';

// Components
@import 'components/pokemon-loading';
@import 'components/pokemon-list';
@import 'components/search-box';
@import 'components/pokemon-details';

.container-app {
  padding-top: 60px;
  padding-bottom: 30px;
}

.comment-item {
  margin: 15px 0;
}

