.search-box {
      border-radius: 0;
  padding-left: 0;
  .input-group {

    height: 60px;
    margin-bottom: 20px;
    #search-input,
    .button-search--pokemon {
      border-radius: 0;
      height: 60px;
    }
  }
}