<h4>Search a Pok&eacute;mon:</h4>
<div class="input-group">
  {{input 
      id='search-input'
      classNames='form-control'
      value=query 
      placeholder='charmander, bulbasaur, charizard'}}
  <span class="input-group-btn">
    <button type="button" class="btn btn-default button-search--pokemon" aria-label="Search" >
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </span>
</div>
{{#if filteredPokemons.length}}
  {{search-box/pokemon-list
      loadMorePokemons=loadMorePokemons
      pokemons=filteredPokemons}}
{{else}}
  <h5 class="message-search">No pokémon found</h5>
{{/if}}