<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Pokémon App{{/link-to}}
    </div>
  </div><!-- /.container-fluid -->
</nav>